* {
    font-family: "Nunito", sans-serif;
  }
  
  #musicButton {
    cursor: pointer;
  }
  
  .nav-link {
    color: white;
  }
  
  .nav-link:hover {
    color: white;
  }
  
  .nav-link.remove-padding {
    padding-left: 0px;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  html {
    scroll-behavior: smooth;
    height: 100%;
  }
  
  body {
    height: 100%;
    background-color: rgb(225, 222, 222);  
  }
  
  /* Home Section */
  
  .homeDiv {
    height: 100%;
    text-align: center;
  }
  
  .homeElements {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-38%);
  }
  
  .welcomeText {
    color: black;
    font-weight: 100;
  }
  
  .dynamicText {
    color: black;
    margin-top: 2%;
    font-weight: bold;
  }
  
  .text-type {
    border-right: 0.1rem solid black;
  }
  
  .checkMyWorkBtn {
    margin-top: 2%;
    border-color: black;
  }
  
  .checkMyWorkBtn:hover {
    border: 1px solid black;
    background-color: white;
  }
  
  .btnText {
    color: black;
    font-size: 3vw;
    letter-spacing: 2px;
    font-family: "Nunito", sans-serif;
  }
  
  .btnText:hover {
    color: black;
    font-size: 3vw;
    letter-spacing: 2px;
    font-family: "Nunito", sans-serif;
  }
  
  /* About Section */
  
  #about {
    padding-top: 80px;
  }
  
  .aboutDiv {
    height: 105%;
  }
  
  .aboutMe {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  
  #aboutMeHeading {
    width: 175px;
    color: black;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    white-space: nowrap;
  }
  
  #aboutMeText {
    color: black;
    letter-spacing: 1px;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px;
    font-family: "Nunito", sans-serif;
  }
  
  /* Languages & Tools Section */
  
  #tools {
    padding-top: 80px;
  }
  
  .toolsDiv {
    height: 110%;
    text-align: center;
  }
  
  .toolsHeading {
    padding-top: 1%;
  }
  
  .header-make-center {
    display: flex !important;
    justify-content: center;
  }
  
  #toolsHeadingText {
    font-weight: 700;
    color: black;
    font-family: "Nunito", sans-serif;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .toolsTech {
    padding-top: 5%;
    justify-content: center;
  }
  
  .tool {
    text-align: center;
  }
  
  #devicons {
    font-size: 40px;
    padding-right: 5%;
  }
  
  #imageicons {
    height: 40%;
    width: 40%;
  }
  
  #imageicons-MS {
    height: 40%;
    width: 40%;
  }
  
  #imageicons-3 {
    height: 40px;
    width: 40px;
  }
  
  #toolName {
    color: black;
    font-size: 100%;
    font-family: "Nunito", sans-serif;
  }
  
  /* Changing color of SQL logo */
  .fa-solid.fa-database.fa-2x {
    color: black;
    width: 42.5px;
    height: 42.5px;
  }
    
  /* Projects Section */
  
  #projects {
    padding-top: 80px;
  }
  
  .projectsDiv {
    height: 120%;
    padding-top: 1.5%;
  }
  
  .project-and-contact-header {
    color: black;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  .project-row {
    padding-top: 5%;
  }
  
  .card {
    background-color: transparent;
    border-color: black;
  }
  
  .card:hover {
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.5) !important;
  }
  
  .appIcon {
    height: 15%;
    width: 15%;
    transition: 0.5s;
  }
  
  .appIconTwo {
    height: 10%;
    width: 10%;
    transition: 0.5s;
    padding-top: 40px;
  }
  
  .appIcon:hover,
  .appIconTwo:hover {
    transform: rotate(360deg) !important;
  }
  
  /* apply hover animations to font awesome icons */
  
  .fa-brands.fa-twitter {
    padding-top: 15px;
    color: #1DA1F2;
  }
  
  .fa-brands.fa-twitter:hover {
    color: #256bb3;
  }
  
  .fa-solid.fa-gem {
    color: #D51F06;

  }
  
  #projectName {
    font-weight: 900;
    color: black;
    font-family: "Nunito", sans-serif;
  }
  
  #projectDesc {
    color: black;
    font-family: "Nunito", sans-serif;
    margin-bottom: 8px;
  }
  
  #projectDesc2 {
    color: black;
    font-family: "Nunito", sans-serif;
    margin-bottom: 16px;
  }
  
  /* Contact Section */
  
  #contact {
    padding-top: 80px;
  }
  
  .contactDiv {
    height: 100%;
    padding-top: 1.5%;
  }
  
  .contact-row {
    padding-top: 5%;
  }
  
  #contactIconOne {
    color: #0A66C2;
    padding-top: 0.5rem;
  }
  
  #contactIconTwo {
    color: #171515;
    padding-top: 0.5rem;
  }
  
  #contactIconThree {
    color: #F47F24;
    padding-top: 0.5rem;
  }
  
  #contactName {
    font-weight: 900;
    color: black;
    font-family: "Nunito", sans-serif;
  }
  
  .contactText {
    color: black;
    font-family: "Nunito", sans-serif;
  }
    
  /* Footer */
  #copyright {
    color: black;
    font-size: 100%;
  }
  
  /* Carousel */
  
  #projectsHeader {
    margin-bottom: 5%;
  }
  
  .fontawesome-logo {
    padding-top: 50px !important;
  }
  
  .carousel {
    border: 1px solid black;
    border-radius: 0.25rem;
  }
  
  .carousel:hover {
    border-radius: 10px;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.5) !important;
  }
  
  .carousel-inner {
    background-color: transparent;
    height: 325px;
    margin: auto;
  }
  
  .carousel-item {
    height: 325px;
  }
  
  .carousel-control-next-icon,
  .carousel-control-prev-icon,
  .carousel-indicators {
    /* To make prev, next, indicator buttons turn black color */
    filter: invert(100%);
  }
  
  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100% !important;
  }
  
  /* Additional CSS for making mobile responsiveness */
  
  @media only screen and (max-width: 991px) {
    .appIcon {
      height: 22.5% !important;
      width: 22.5% !important;
      padding-top: 10px !important;
    }
  
    .appIconTwo {
      height: 15% !important;
      width: 15% !important;
      padding-top: 50px !important;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .aboutDiv {
      height: 150%;
      margin-top: 3%;
    }
  
    .contactDiv {
      height: 118%;
    }
  
    .appIcon {
      height: 25% !important;
      width: 25% !important;
      padding-top: 25px !important;
    }
  
    .appIconTwo {
      height: 20% !important;
      width: 20% !important;
      padding-top: 50px !important;
    }
  }
  
  /* To make Carousel mobile responsive */
  @media only screen and (max-width: 480px) {
    .carousel-inner,
    .carousel-item {
      height: 200px;
    }
  
    .carousel-caption {
      /* To fix placement of text in mobile view */
      position: static !important;
      padding-top: 10px;
    }
  
    .fontawesome-logo {
      padding-top: 20px !important;
    }
  
    .appIcon {
      width: 20% !important;
      height: 20% !important;
      padding-top: 0px !important;
    }
  
    .appIconTwo {
      height: 15% !important;
      width: 15% !important;
      padding-top: 10px !important;
    }
  
    .carousel-control-next-icon {
      margin-left: 10px;
    }
  
    .carousel-control-prev-icon {
      margin-right: 10px;
    }
  
    .carousel-indicators {
      margin-bottom: 5px !important;
    }
  
    .carousel-indicators li {
      width: 5px;
      height: 5px;
      border-radius: 100% !important;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .aboutDiv {
      height: 200%;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 135%;
    }
  
    .projectsDiv {
      height: 125%;
    }
  
    .contactDiv {
      height: 120%;
    }
  
    #imageicons {
      height: 49%;
      width: 49%;
    }
  
    #imageicons-MS {
      height: 42%;
      width: 42%;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .aboutDiv {
      height: 250% !important;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 200% !important;
    }
  
    .contactDiv {
      height: 125%;
    }
  
    #imageicons {
      height: 45%;
      width: 55%;
    }
  
    #imageicons-MS {
      height: 45%;
      width: 55%;
    }
  
    .carousel-inner,
    .carousel-item {
      height: 225px !important;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .aboutDiv {
      height: 275% !important;
      margin-top: 3%;
    }
  }
  
  @media only screen and (max-width: 263px) {
    .aboutDiv {
      height: 300% !important;
      margin-top: 3%;
    }
  }
  
  @media only screen and (max-width: 263px) {
    .aboutDiv {
      height: 425% !important;
      margin-top: 3%;
    }
  
    #aboutMeText {
      text-align: left;
    }
  }
  
  @media only screen and (max-width: 220px) {
    .aboutDiv {
      height: 525% !important;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 235% !important;
    }
  
    #aboutMeText {
      text-align: left;
    }
  }
  
  @media only screen and (max-width: 320px) and (max-height: 480px) {
    .aboutDiv {
      height: 400%;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 300% !important;
    }
  
    .contactDiv {
      height: 200%;
    }
  
    #imageicons {
      height: 49%;
      width: 49%;
    }
  
    #imageicons-MS {
      height: 49%;
      width: 49%;
    }
  }
  
  @media only screen and (max-width: 609px) {
    .toolsDiv {
      height: 200%;
    }
  }
  
  /* Orientation: landscape is for the situation where you on 'auto-rotate' and tilt in mobile phones */
  @media only screen and (max-width: 1080px) and (orientation: landscape) {
    .homeDiv {
      height: 125%;
    }
  
    .aboutDiv {
      height: 205%;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 325%;
    }
  
    .contactDiv {
      height: 175%;
    }
  }
  
  /* To make responsive in non-convential phone/screen sizes */
  @media only screen and (max-width: 1024px) and (orientation: landscape) {
    .homeDiv {
      height: 225% !important;
    }
  
    .aboutDiv {
      height: 500% !important;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 600% !important;
    }
  
    .projectsDiv {
      height: 1000% !important;
    }
  
    .contactDiv {
      height: 450% !important;
    }
  }
  
  @media only screen and (max-width: 1080px) and (max-height: 170px) and (orientation: landscape) {
    .homeDiv {
      height: 250% !important;
    }
  
    .aboutDiv {
      height: 550% !important;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 700% !important;
    }
  
    .projectsDiv {
      height: 1450% !important;
    }
  
    .contactDiv {
      height: 500% !important;
    }
  }
  
  @media only screen and (max-width: 1080px) and (max-height: 100px) and (orientation: landscape) {
    .homeDiv {
      height: 250% !important;
    }
  
    .aboutDiv {
      height: 650% !important;
      margin-top: 3%;
    }
  
    .toolsDiv {
      height: 950% !important;
    }
  
    .projectsDiv {
      height: 2200% !important;
    }
  
    .contactDiv {
      height: 750% !important;
    }
  }
  